<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <title><%= current_page.data.title || "RubyConf India 2015" %></title>
    
    <%= stylesheet_link_tag "style" %>
    <script src="//use.typekit.net/jjh2aje.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  
  <body id="<%= current_page.data.page_id %>">
    <header class="banner" role="banner">
      <div>
        <h1><a href=".">
          RubyConf
          <span>India</span>
        </a></h1>
        <h2>April 3-5, 2015</h2>
        <h3><a href="http://cidadedegoa.com/">Cidade de Goa</a></h3>
      </div>

      <a class="mail" href="mailto:team@rubyconfindia.org">team@rubyconfindia.org</a>
      <a class="twitter" href="http://twitter.com/rubyconfindia" target="_blank">@rubyconfindia</a>
    </header>

    <%= yield_content :before_body %>

    <div class="main">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/code-of-conduct.html">Code of Conduct</a></li>
          <li><a href="/sponsor.html">Sponsor</a></li>
          <li><a href="http://blog.rubyconfindia.org/">Blog</a></li>
          <li><a href="/faq.html">FAQ</a></li>
          <li><a href="/about.html">About</a></li>
        </ul>
      </nav>
      <%= yield %>
    </div>

    <div class="footer">
      Contact us at 
      <a href="mailto:team@rubyconfindia.org">team@rubyconfindia.org</a>

      &amp; follow us at
      <a href="http://twitter.com/rubyconfindia" target="_blank">@rubyconfindia</a>
    </div>
  </body>
</html>
