---
title: RubyConf India 2015
---

.row
  .col-lg-12.text-center
    %h2.page-header
      Back to the Beach!
    %section
      %h4.col-lg-10.col-lg-offset-1.padding-down
        RubyConfIndia is going back to Goa next year on
        %strong 4th and 5th of April 2015 at Cidade de Goa
        , where we'll discuss all things Ruby in the conference hall and on the beach.
    %section.push-down
      .col-sm-2.col-sm-offset-4
        %a.btn.btn-primary.btn-lg.btn-block{:href => "http://www.townscript.com/rubyconfindia2015", :target => "_blank"} Register
      .col-sm-2
        %a.btn.btn-success.btn-lg.btn-block{:href => "http://cfp.rubyconfindia.org/", :target => "_blank"} Submit Talk

.row
  .col-lg-12.text-center
    %h2.page-header
      Guest Speakers
    .col-md-3
      .thumbnail
        = image_tag "aaron.jpeg", :class => "img-responsive"
        .caption
          .h4 Aaron Patterson
          %h5
            The only member of both the Ruby and Rails core teams.
          %ul.list-inline
            %li
              %a{:href => "https://github.com/tenderlove"}
                %i.fa.fa-github-square
            %li
              %a{:href => "https://twitter.com/tenderlove"}
                %i.fa.fa-twitter-square
    .col-md-3
      .thumbnail
        = image_tag "eleanor.jpeg", :class => "img-responsive"
        .caption
          .h4 Eleanor McHugh
          %h5
            British hacker and trans woman best known for Ruby and Go.
          %ul.list-inline
            %li
              %a{:href => "https://github.com/feyeleanor"}
                %i.fa.fa-github-square
            %li
              %a{:href => "http://twitter.com/feyeleanor"}
                %i.fa.fa-twitter-square
    .col-md-3
      .thumbnail
        = image_tag "aslak.jpeg", :class => "img-responsive"
        .caption
          .h4 Aslak Hellesøy
          %h5
            The founder of the Cucumber project.
          %ul.list-inline
            %li
              %a{:href => "https://github.com/aslakhellesoy"}
                %i.fa.fa-github-square
            %li
              %a{:href => "https://twitter.com/aslak_hellesoy"}
                %i.fa.fa-twitter-square
    .col-md-3
      .thumbnail
        = image_tag "zzak.png", :class => "img-responsive"
        .caption
          .h4 Zachary Scott
          %h5
            Ruby committer from Vermont living in San Francisco.
          %ul.list-inline
            %li
              %a{:href => "https://github.com/zzak"}
                %i.fa.fa-github-square
            %li
              %a{:href => "https://twitter.com/_zzak"}
                %i.fa.fa-twitter-square
    .col-md-3
      .thumbnail
        = image_tag "laurent.jpg", :class => "img-responsive"
        .caption
          .h4 Laurent Sansonetti
          %h5
            Founder of @HipByte. Works on @RubyMotion. @MacRuby author.
          %ul.list-inline
            %li
              %a{:href => "https://github.com/lrz"}
                %i.fa.fa-github-square
            %li
              %a{:href => "https://twitter.com/lrz"}
                %i.fa.fa-twitter-square
    .col-md-3
      .thumbnail
        = image_tag "bryan.jpeg", :class => "img-responsive"
        .caption
          .h4 Bryan Helmkamp
          %h5
            Founder and CEO,
            %br
            @codeclimate
          %ul.list-inline
            %li
              %a{:href => "https://github.com/brynary"}
                %i.fa.fa-github-square
            %li
              %a{:href => "https://twitter.com/brynary"}
                %i.fa.fa-twitter-square
    .col-md-3
      .thumbnail
        = image_tag "pj.png", :class => "img-responsive"
        .caption
          .h4 PJ Hagerty
          %h5
            Programmer, writer, rock star. I work at Engine Yard!
          %ul.list-inline
            %li
              %a{:href => "https://github.com/aspleenic"}
                %i.fa.fa-github-square
            %li
              %a{:href => "https://twitter.com/aspleenic"}
                %i.fa.fa-twitter-square
    .col-md-3
      .thumbnail
        = image_tag "terence.jpeg", :class => "img-responsive"
        .caption
          .h4 Terence Lee
          %h5
            Heroku's ruby task force, Ruby order padawan, Bundler core...
          %ul.list-inline
            %li
              %a{:href => "https://github.com/hone"}
                %i.fa.fa-github-square
            %li
              %a{:href => "https://twitter.com/hone02"}
                %i.fa.fa-twitter-square
.row
  .col-lg-12.text-center
    %h2.page-header
      Gold Sponsors
    .col-md-4
      .gold-sponsor
        %a{:href => "http://joshsoftware.com", class: "logo"}
          = image_tag "josh.png", :class => "img-responsive center-block"
        .caption
          Driven by enthusiasm and passion, Josh is India’s leading company in building innovative Rails applications working exclusively in Ruby On Rails since 2007.
          %ul.list-inline
            %li
              %a{:href => "https://github.com/joshsoftware"}
                %i.fa.fa-github-square
            %li
              %a{:href => "https://twitter.com/joshsoftware"}
                %i.fa.fa-twitter-square
    .col-md-4
      .gold-sponsor
        %a{:href => "http://codeignition.com", class: "logo", style: "padding-top: 25px"}
          = image_tag "codeignition.png", :class => "img-responsive center-block"
        .caption
          We can help you scale your application using automation, auto-scaling, app configuration, monitoring, deployment and on top of that with alerting and configuration management for your entire app stack. 
          %ul.list-inline
            %li
              %a{:href => "https://github.com/codeignition"}
                %i.fa.fa-github-square
            %li
              %a{:href => "https://twitter.com/codeignition"}
                %i.fa.fa-twitter-square
    .col-md-4
      .gold-sponsor
        %a{:href => "http://freshdesk.com", class: "logo"}
          = image_tag "freshdesk.png", :class => "img-responsive center-block"
        .caption
          Streamline your support and make customers happy. Freshdesk is the customer support software that gives you everything you need to delight your customers
          %ul.list-inline
            %li
              %a{:href => "https://github.com/freshdesk"}
                %i.fa.fa-github-square
            %li
              %a{:href => "https://twitter.com/freshdesk"}
                %i.fa.fa-twitter-square
.row
  .col-lg-12.text-center
    %h2.page-header
      Silver Sponsors
    .col-md-offset-3.col-md-3.push-down
      %a{:href => "http://cuelogic.com"}
        = image_tag "cuelogic.png", :class => "img-responsive center-block"
    .col-md-3.push-down
      %a{:href => "http://townscript.com"}
        = image_tag "http://placehold.it/200.png&text=Your Company", :class => "img-responsive center-block"
.row
  .col-lg-12.text-center
    %h2.page-header
      Associate Sponsors
    .col-md-12.center-block
      %a{:href => "http://townscript.com"}
        = image_tag "http://placehold.it/150.png&text=Your Company", :class => "img-responsive center-block"
.row
  .col-lg-12.text-center
    %h2.page-header
      Partners
    .col-md-4.push-down
      .thumbnail.caption Ticketing Partner
      %a{:href => "http://townscript.com"}
        = image_tag "townscript.png", :class => "img-responsive center-block partner-image"
    .col-md-4.push-down
      .thumbnail.caption Invoice Partner
      %a{:href => "http://www.hiveage.com"}
        = image_tag "hiveage.png", :class => "img-responsive center-block partner-image"
    .col-md-4.push-down
      .thumbnail.caption Media Partner
      %a{:href => "http://www.thenewstack.io"}
        = image_tag "newstack.png", :class => "img-responsive center-block partner-image"
