---
title: RubyConf India 2015
page_id: home
---

<% content_for :before_body do %>
  <div class="actions">
    <div>
      <h3>Limited Tickets Available</h3>
      <p>Ticket includes access to the conference + accomodation + all meals</p>
      <a href="http://www.townscript.com/rubyconfindia2015" target="_blank" class="primary">Register Now!</a>
      <a href="code-of-conduct.html">Code of Conduct</a>
    </div>
     
    <div>
      <h3>Propose a talk</h3>
      <p>talks + workshops for the conference. CFP closes on January 15</p>
      <a href="http://cfp.rubyconfindia.org" target="_blank" class="primary">Submit Talk</a>
    </div>
  </div>
<% end %>

<h2 class="list-title"><span>Guest Speakers</span></h2>

<ul class="speakers">
  <li>
    <%= image_tag "/images/speakers/aaron.jpeg", :alt => "Photo of Aaron Patterson" %>
    <a href='https://github.com/tenderlove' class="github" target="_blank">@tenderlove</a>
    <a href='https://twitter.com/tenderlove' class="twitter" target="_blank">@tenderlove</a>
    <h3>Aaron Patterson</h3>
    <h4>The only member of both the Ruby and Rails core teams.</h4>
  </li>

  <li>
    <%= image_tag "/images/speakers/eleanor.jpeg", :alt => "Photo of Eleanor McHugh" %>
    <h3>Eleanor McHugh</h3>
    <h4>British hacker and trans woman best known for Ruby and Go.</h4>
    <a href='https://github.com/feyeleanor' class="github" target="_blank">@feyeleanor</a>
    <a href='https://twitter.com/feyeleanor' class="twitter" target="_blank">@feyeleanor</a>
  </li>

  <li>
    <%= image_tag "/images/speakers/aslak.jpeg", :alt => "Photo of Aslak Hellesøy" %>
    <h3>Aslak Hellesøy</h3>
    <h4>The only member of both the Ruby and Rails core teams.</h4>
    <a href='https://github.com/zzak' class="github" target="_blank">@zzak</a>
    <a href='https://twitter.com/_zzak' class="twitter" target="_blank">@_zzak</a>
  </li>

  <li>
    <%= image_tag "/images/speakers/zzak.jpeg", :alt => "Photo of Zachary Scott" %>
    <h3>Zachary Scott</h3>
    <h4>The only member of both the Ruby and Rails core teams.</h4>
    <a href='https://github.com/tenderlove' class="github" target="_blank">@tenderlove</a>
    <a href='https://twitter.com/tenderlove' class="twitter" target="_blank">@tenderlove</a>
  </li>

  <li>
    <%= image_tag "/images/speakers/laurent.jpeg", :alt => "Photo of Laurent Sansonetti" %>
    <h3>Laurent Sansonetti</h3>
    <h4>The only member of both the Ruby and Rails core teams.</h4>
    <a href='https://github.com/lrz' class="github" target="_blank">@lrz</a>
    <a href='https://twitter.com/lrz' class="twitter" target="_blank">@lrz</a>
  </li>

  <li>
    <%= image_tag "/images/speakers/bryan.jpeg", :alt => "Photo of Bryan Helmkamp" %>
    <h3>Bryan Helmkamp</h3>
    <h4>The only member of both the Ruby and Rails core teams.</h4>
    <a href='https://github.com/brynary' class="github" target="_blank">@brynary</a>
    <a href='https://twitter.com/brynary' class="twitter" target="_blank">@brynary</a>
  </li>

  <li>
    <%= image_tag "/images/speakers/pj.jpeg", :alt => "Photo of PJ Hagerty" %>
    <h3>PJ Hagerty</h3>
    <h4>The only member of both the Ruby and Rails core teams.</h4>
    <a href='https://github.com/aspleenic' class="github" target="_blank">@aspleenic</a>
    <a href='https://twitter.com/aspleenic' class="twitter" target="_blank">@aspleenic</a>
  </li>

  <li>
    <%= image_tag "/images/speakers/terence.jpeg", :alt => "Photo of Terence Lee" %>
    <h3>Terence Lee</h3>
    <h4>The only member of both the Ruby and Rails core teams.</h4>
    <a href='https://github.com/hone' class="github" target="_blank">@hone</a>
    <a href='https://twitter.com/hone02' class="twitter" target="_blank">@hone02</a>
  </li>
</ul>

<h2 class="list-title"><span>Gold Sponsors</span></h2>
<ul class="sponsors gold">
  <li>
    <a href="http://freshdesk.com/" target="_blank">
      <%= image_tag "/images/sponsors/freshdesk.png", :alt => "Freshdesk logo" %>
    </a>
    
    <a href="https://github.com/freshdesk" class="github">Github</a>
    <a href="https://twitter.com/freshdesk" class="twitter">Twitter</a>
  </li>
  <li>
    <a href="http://oyorooms.com/" target="_blank">
      <%= image_tag "/images/sponsors/oyo.png", :alt => "oyo logo" %>
    </a>
    
    <a href="https://github.com/oyo" class="github">Github</a>
    <a href="https://twitter.com/oyo" class="twitter">Twitter</a>
  </li>
  <li>
    <a href="http://josh.com/" target="_blank">
      <%= image_tag "/images/sponsors/josh.png", :alt => "josh logo" %>
    </a>
    
    <a href="https://github.com/josh" class="github">Github</a>
    <a href="https://twitter.com/josh" class="twitter">Twitter</a>
  </li>
  <li>
    <a href="http://codeignition.com/" target="_blank">
      <%= image_tag "/images/sponsors/codeignition.png", :alt => "codeignition logo" %>
    </a>
    
    <a href="https://github.com/codeignition" class="github">Github</a>
    <a href="https://twitter.com/codeignition" class="twitter">Twitter</a>
  </li>
</ul>

<h2 class="list-title"><span>Silver Sponsors</span></h2>
<ul class="sponsors silver">
  <li>
    <a href="http://cuelogic.com/" target="_blank">
      <%= image_tag "/images/sponsors/cuelogic.png", :alt => "cuelogic logo" %>
    </a>
  </li>  
  <li>
    <a href="#">
      <%= image_tag "/images/sponsors/you.png", :alt => "your logo here" %>
    </a>
  </li>
</ul>

<h2 class="list-title"><span>Associate Sponsors</span></h2>
<ul class="sponsors associate">
  <li>
    <a href="#">
      <%= image_tag "/images/sponsors/you.png", :alt => "your logo here" %>
    </a>
  </li>
</ul>


<h2 class="list-title"><span>Partners</span></h2>

<ul class="partners">
  <li>
    <a href="http://townscript.com/" target="_blank">
      <%= image_tag "/images/partners/townscript.png", :alt => "Townscript logo" %>
    </a>
    <span>Ticketing Partner</span>
  </li>

  <li>
    <a href="http://hiveage.com/" target="_blank">
      <%= image_tag "/images/partners/hiveage.png", :alt => "Hiveage logo" %>
    </a>
    <span>Invoice Partner</span>
  </li>

  <li>
    <a href="http://thenewstack.io/" target="_blank">
      <%= image_tag "/images/partners/thenewstack.png", :alt => "Townscript logo" %>
    </a>
    <span>Media Partner</span>
  </li>
</ul>

<h2 class="list-title"><span>Design</span></h2>

<ul class="partners">
  <li>
    <a href="http://uncommon.is/" target="_blank">
      <%= image_tag "/images/partners/uncommon.png", :alt => "Uncommon logo" %>
    </a>
  </li>
</ul>